name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      postgres:
        image: 'postgres:latest'
        env:
          POSTGRES_DB: castelo-io-database
          POSTGRES_USER: castelo-io
          POSTGRES_PASSWORD: password
        ports:
          - '5432:5432'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Set up JDK 23 to match the build.gradle config
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: "23" # Version matching your build.gradle
        distribution: "temurin"

    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    # Make Gradle Wrapper executable
    - name: Make Gradle Wrapper executable
      run: chmod +x ./gradlew

    # Build with the Gradle wrapper
    - name: Build with Gradle Wrapper
      run: ./gradlew build --no-daemon --scan

    # Test the application (will use Gradle's `test` task)
    - name: Run Tests
      env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/test_db
          SPRING_DATASOURCE_USERNAME: castelo-io
          SPRING_DATASOURCE_PASSWORD: password
      run: ./gradlew test --no-daemon --info

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    # Set up JDK 23
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: "23"
        distribution: "temurin"
        
    - name: Make Gradle Wrapper executable
      run: chmod +x ./gradlew

    # Generates and submits a dependency graph
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
